body { background-color: #FFFFFF; 
    color: #666666; 
    font-family: Arial, Verdana, sans-serif; 
    background-image: url(bookstore.jpg);
    background-repeat: no-repeat;
    padding-top: 50px;
    margin-right: 40px;
    margin-bottom: 50px;
    padding-left: 40px;
}
 
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #111111;
  }
  
  .active {
	background-color: #04AA6D;
  }

.home_h1 {
    text-align: center;
    font-weight: bold;
	  letter-spacing: 4px;
    justify-content: center;
    margin-top: 10%;
    align-items: center;
    display: flex;
    font-size: 132px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
        
    
}